In [1]:
lst1 = (1,11,21,31,41,51,61,71,81,91)

for i in lst1:
  print("The element in list is", i)

The element in list is 1
The element in list is 11
The element in list is 21
The element in list is 31
The element in list is 41
The element in list is 51
The element in list is 61
The element in list is 71
The element in list is 81
The element in list is 91

In [2]:
tup1 = ("apple", "orange", "mango", "banana")

for i in tup1:
  print("The elemenet in list is", i)

The elemenet in list is apple
The elemenet in list is orange
The elemenet in list is mango
The elemenet in list is banana

In [6]:
set1 = {"apple", "orange", "mango", "banana",1,11,21,31,41,51,61,71,81,91, "apple", "orange", "mango", "banana"}

for i in set1:
  print("The element is", i)

The element is banana
The element is 1
The element is apple
The element is 71
The element is 41
The element is 11
The element is 81
The element is mango
The element is 51
The element is orange
The element is 21
The element is 91
The element is 61
The element is 31

In [7]:
str1 = "Pappa Peppe Python Programming"

for i in str1:
  print("The element is", i)

The element is P
The element is a
The element is p
The element is p
The element is a
The element is
The element is P
The element is e
The element is p
The element is p
The element is e
The element is
The element is P
The element is y
The element is t
The element is h
The element is o
The element is n
The element is
The element is P
The element is r
The element is o
The element is g
The element is r
The element is a
The element is m
The element is m
The element is i
The element is n
The element is g

In [8]:
dict1 = {'a':"apple", 'b': "banana", 'c':"cherry", 'd':'donkey'}

for i in dict1:
  print("The elements are:", i)

The elements are: a
The elements are: b
The elements are: c
The elements are: d

In [9]:
for i in range(12):
  print("The elements are:", i)

The elements are: 0
The elements are: 1
The elements are: 2
The elements are: 3
The elements are: 4
The elements are: 5
The elements are: 6
The elements are: 7
The elements are: 8
The elements are: 9
The elements are: 10
The elements are: 11

In [10]:
for i in range(5,15):
  print(i)

5
6
7
8
9
10
11
12
13
14

In [12]:
for i in range(1,12,2):
  print("The range is", i)

The range is 1
The range is 3
The range is 5
The range is 7
The range is 9
The range is 11

In [15]:
for i in range(0,10):
  for j in range(0,10):
    print(j, end = " ")
  print('\r')

0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9

In [21]:
for i in range(10):
  for j in range(0,10-i):
    print(" ", end ="")
  for k in range(0,i+1):
    print("*", end = " ")
  print('\r')

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *

In [9]:
for i in range(10):
  for j in range(0,10-i):
    print(" ", end ="")
  for k in range(i+1):
    print("*", end =" ")
  print('\r')

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *

In [35]:
for i in range(10):
  for j in range(0,i):
    print("", end = " ")
  for k in range(10,i,-1):
    print("*", end = " ")
  print('\r')

* * * * * * * * * *
 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *

In [46]:
for i in range(10):
  for j in range(0,i+1):
    print(" ", end = "")
  for k in range(10,i,-1):
    print("*", end = " ")
  print('\r')
for i in range(1,10):
  for j in range(0,10-i):
    print(" ", end ="")
  for k in range(0,i+1):
    print("*", end = " ")
  print('\r')

 * * * * * * * * * *
  * * * * * * * * *
   * * * * * * * *
    * * * * * * *
     * * * * * *
      * * * * *
       * * * *
        * * *
         * *
          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *