In [1]:
# Nested If

a = 123

if (a < 200):
  print("if (a < 200):")
  if (a < 175):
    print("if (a < 175):")
    if (a < 150):
      print("if (a < 150):")
      if (a < 100):
        print("if (a < 100):")
        if (a < 75):
          print("if (a < 75):")
        else:
          print("elif (a > 75):")
      else:
        print("elif (a > 100):")
    else:
      print("elif (a > 150):")
  else:
    print("elif (a > 175):")
else:
  print("elif (a > 200):")

if (a < 200):
if (a < 175):
if (a < 150):
elif (a > 100):

In [3]:
a = 50

while a < 500:
  print(a, "is less than 500.")
  a += 50

50 is less than 500.
100 is less than 500.
150 is less than 500.
200 is less than 500.
250 is less than 500.
300 is less than 500.
350 is less than 500.
400 is less than 500.
450 is less than 500.

In [7]:
a = 0
even = []
odd = []

while a <= 100:
  if a % 2 == 0:
    even.append(a)
  else:
    odd.append(a)
  a +=1

print("Even: ", even)
print("Odd: ", odd)

Even:  [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
Odd:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [10]:
total = 0

age = int(input("Enter the age: "))

while age >= 18:
  total +=1
  age = int(input("Enter the age: "))

print(total)

Enter the age: 25
Enter the age: 24
Enter the age: 23
Enter the age: 22
Enter the age: 21
Enter the age: 20
Enter the age: 19
Enter the age: 18
Enter the age: 17
8

In [12]:
lst1 = [1,2,3,4,5,6,7,8,9,10,11,22,33,44,55,66,77,88,99,110,12,23,34,45,56,67,78,89,90]

while lst1:
  lst1.pop()

print(lst1)

[]

In [14]:
num1 = int(input("Enter a number"))

while (num1%5 == 0) and (num1%7==0):
  print(num1, "is divisible by 5 and 7")
  break
else:
  print(num1, "is not divisible by 5 and 7")

Enter a number80
80 is not divisible by 5 and 7