In [4]:
class person:

  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, ' ', self.lastname)

In [10]:
class childclass(person):
  pass

In [9]:
obj2 = childclass('Anurag', 'Edlabadkar')

In [7]:
obj2.printname()

Anurag   Edlabadkar

In [19]:
class person:

  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print("class childclass(person):", self.firstname, ' ', self.lastname)

In [20]:
class childclass(person):

  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

In [21]:
obj1 = childclass('Anurag', "Ed")

In [22]:
obj1.printname()

class childclass(person): Anurag   Ed

In [23]:
class book:

  def __init__(self, name, writer, date):
    self.name = name
    self.writer = writer
    self.date = date

  def printit(self):
    print("The name of the book is ", self.name, " written by ", self.writer, " on the date", self.date)

In [27]:
class subofbook(book):

  def __init__(self, name, writer, date):
    self.name = name
    self.writer = writer
    self.date = date

In [28]:
bookobject = book('Land in the Skies', 'James Bond', 'Oct 15, 1958')

In [29]:
bookobject.printit()

The name of the book is  Land in the Skies  written by  James Bond  on the date Oct 15, 1958

In [46]:
class car:
  def __init__(self, name, model):
    self.name = name
    self.model = model

  def print_details(self):
    print('class car: ', self.name, self.model)

In [47]:
class audi(car):
  def __init__(self, name, model):
    super().__init__(name, model)

In [48]:
obj1 = audi('audi 777', 777)

In [33]:
obj1.print_details()

class car:  audi 777 777

In [38]:
class audi(car):
  def __init__(self, name, model, make):
    super().__init__(name, model)
    self.make = make

  def print_details(self):
    print(self.name, self.model, self.make)

In [39]:
obj1 = audi('audi', 777, 1998)

In [40]:
obj1.print_details()

audi 777 1998