In [1]:
a = [1,2,3,4,5,6]
a.append(7)
print(a)

[1, 2, 3, 4, 5, 6, 7]

In [2]:
a = [1,2,3,4,5,6,7]
a.clear()
print(a)

[]

In [3]:
a_list = [1,2,3,4,5,6,7]
b_list = a_list
c_list = a_list.copy()
print(a_list)
print(b_list)
print(c_list)

In [5]:
a_list = [1,2,3,4,5,6,7]
print(a_list.count(7))

1

In [15]:
a_list = [1,2,3,4,5,6,7]
a_list.append([8,9,10])
print(a_list)
a_list.extend([8,9,10])
print(a_list)
print(a_list[7][::-1])

[1, 2, 3, 4, 5, 6, 7, [8, 9, 10]]
[1, 2, 3, 4, 5, 6, 7, [8, 9, 10], 8, 9, 10]
[10, 9, 8]

In [16]:
a_list = [1,2,3,4,5,6,7]
print(a_list.index(6))

5

In [20]:
a_list = [1,2,3,4,5,6,7]
a_list.insert(3,5)
print(a_list)

[1, 2, 3, 5, 4, 5, 6, 7]

In [22]:
a_list = [1,2,3,4,5,6,7]
a_list.remove(4)
print(a_list)

[1, 2, 3, 5, 6, 7]

In [24]:
a_list = [1,2,3,4,5,6,7]
a_list.reverse()
print(a_list)

[7, 6, 5, 4, 3, 2, 1]

In [25]:
a_list = [1,2,3,4,5,6,7, 9 , 10, 15, 12]
a_list.sort()
print(a_list)

[1, 2, 3, 4, 5, 6, 7, 9, 10, 12, 15]

In [26]:
a_list = [1,2,3,4,5,6,7, 9 , 10, 15, 12]
a_list.sort(reverse=True)
print(a_list)

[15, 12, 10, 9, 7, 6, 5, 4, 3, 2, 1]

In [28]:
b_tup = (1,2,3,4,5,6,7)
print(b_tup.count(6))

1

In [29]:
b_tup = (1,2,3,4,5,6,7)
b_tup.index(4)

3

In [30]:
#1

a = [1,2,3,4,5,11,1,2,6,1,8]
b = []

for i in a:
  if i not in b:
    b.append(i)

print(b)

[1, 2, 3, 4, 5, 11, 6, 8]

In [7]:
#2

list_prime = []
for k in range(2,100):
  flag = True
  for s in range(2,k):
    if k%s == 0:
      flag = False
      break
  if flag:
      list_prime.append(k)

for primes in list_prime:
  print(primes, "is a prime number")

2 is a prime number
3 is a prime number
5 is a prime number
7 is a prime number
11 is a prime number
13 is a prime number
17 is a prime number
19 is a prime number
23 is a prime number
29 is a prime number
31 is a prime number
37 is a prime number
41 is a prime number
43 is a prime number
47 is a prime number
53 is a prime number
59 is a prime number
61 is a prime number
67 is a prime number
71 is a prime number
73 is a prime number
79 is a prime number
83 is a prime number
89 is a prime number
97 is a prime number

In [11]:
#3
a = [1,2,3,4,5,11,1,2,6,1,8]
reverse_list = []

for k in range(len(a)-1,-1,-1):
  reverse_list.append(a[k])
print(reverse_list)

[8, 1, 6, 2, 1, 11, 5, 4, 3, 2, 1]

In [10]:
#4

for i in range(1,11):
  print(i*13, end=" ")

13 26 39 52 65 78 91 104 117 130