In [7]:
str1 = "Python"
print(type(str1))

str1 = 'Python'
print(str1)

str1 = "Python"
print(str1)

str1 = "Python is an 'OOP' language"
print(str1)

str1 = """How are you doing day? "Well, I'm doing good." """
print(str1)

<class 'str'>
Python
Python
Python is an 'OOP' language
How are you doing day? "Well, I'm doing good."

In [8]:
lst1 = "1,2,3,4,5,6,7"

print(type(lst1))

<class 'str'>

In [9]:
tup1 = (1,2,3,4,5,6,7,8)
print(type(tup1))

<class 'tuple'>

In [12]:
set1 = {0.12, 0, 1, 'a', 'c', "!", "@"}

print(type(set1))

<class 'set'>

In [14]:
dict1 = {'a': 'china', 'b': 'India', 'c':'nepal'}

print(type(dict1))

<class 'dict'>

In [15]:
str1 = ("russia")
print(str1[0])
print(str1[1])
print(str1[2])
print(str1[3])
print(str1[4])
print(str1[5])

r
u
s
s
i
a

In [20]:
str1 = "hello world"
print(str1.capitalize())

Hello world

In [23]:
str1 = "HeLlO WoRlD"
print(str1.casefold())

hello world

In [30]:
str1 = "hello world "
print(str1.center(20, " "))

    hello world

In [35]:
str1 = "hello hello to everyone and the people of this world Hello again"
print(str1.count("hello"))

2

In [36]:
str1 = "hello hello to everyone and the people of this world Hello again"
print(str1.endswith("n"))

True

In [37]:
str1 = "hello hello to everyone and the people of this world Hello again"
print(str1.endswith("p"))

False

In [38]:
str1 = "hello hello to everyone and the people of this world Hello again"
print(str1.find("and"))

24

In [42]:
str1 = ("hello {fname}, I'd like to apply for {position}")
print(str1.format(fname = "Rabin", position = "Data Scientist"))

hello Rabin, I'd like to apply for Data Scientist